
/* -------  General Styles ------- */

body {
    margin: 20;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F7F3
  }
  
  header {
    background-color :#C3B7AC;
    margin-bottom: 40px;
  }
  
  .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    color: #ffff;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
  }
  
  /* ---  Navigation --- */
  
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Poppins', sans-serif;

  }
  
  header nav ul li a:hover {
    color: #A3DBC9
  }

  
  
  @media all and (min-width: 500x) {
    header {
      display: flex;
    
    }
  
    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
    
    header nav {
      margin-top: 14px;
    }
  }
  
  /* ---  Primary Groups --- */
  
  main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 100px;
  }
  

  footer {
    background-color: #C3B7AC;
    margin-top: 40px;
    margin-bottom: 0;
  }
  
  /* ---  Typography --- */
  
  h1 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;

    font-weight: 400;
    color: #403933;
  }
  
  h2 {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;

    font-weight: 400;
    margin: 0 10px;
  }
  
  h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
  }
  
  p {
   font-family: 'Poppins', sans-serif;

   line-height: 1.5em;
   margin-bottom: 0;
  }
  
  main a {
      font-weight: 700;
      text-decoration: none;	
  }
  
  main  a:link { color: #A3DBC9  }
  main  a:visited { color: #A3DBC9   }
  main  a:hover { color: #403933; }
  a:active { color:#EEDCE0  }
  

  footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  

  img.image-enhanced {
        max-width:100%;
        height:auto;
    }

  
  .group {
    display: flex;
    flex-direction: column;
  }

  
  
.flex-container {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }
    
  .item {
    flex: 3;
    margin: 10px;
  }

  
  .item-double {
    flex: 2;
  }


  
  /* ---  (Desktop) Groups & Items --- */
  
  @media all and (min-width: 400px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: column;
    }
  }
  
  /* Contact Form Design */
  
  form {
    padding-right: 20px;
  }
  
  form label {
    display: block;
  }
  
  form input, 
  form textarea {
    width: 50%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }
  
